.item-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 300px;
  width: 40%;
  border-radius: 20px;
  border: 1px solid #673ab7;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
  position: relative;
}

.item-spinner {
  opacity: 60%;
}

.item-title {
  text-align: center;
  color: #673ab7;
  font-size: calc(100vh / 12);
  font-family: "Send Flowers", cursive;
}

.item-label {
  color: lightslategrey;
  font-size: large;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

.item-value {
  font-size: xx-larger;
  margin-bottom: 15px;
  font-weight: 500;
}

.item-go-back {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.item-go-back:hover {
  opacity: 60%;
}
