/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Snackbar styles */
.snackbar-error {
  background: #f8d7da;
  color: #842029;
  border: 1px solid #f5c2c7;
}

.snackbar-success {
  background: #d1e7dd;
  color: #0f5132;
  border: 1px solid #badbcc;
}
